// bower:scss
// endbower

// Fonts
$scale: 9px;
$font-size: $scale * 2;

// Colours
$default: #ccc;
$type: #212529;
$lightgray: #F7F7F7;
$primary: #0E3FF2;
$secondary: #0EC2F2;

// Objects
$border-radius: 14px 14px 14px 14px / 15px 15px 15px 15px;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //outline: 1px solid red;
}
body {
  background: #fff;
  font: $scale*2 'Muli', BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.45;
  color: $type;
  width: 100%;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  // font-weight: 300;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}
h1.lead {
  /* — design thinker, ar: */
  font-weight: 300;
  font-size: 36px;
  color: $type;
  letter-spacing: -0.3px;
  max-width: 50rem;
  a {
    color: $type;
  }
  @media (max-width: 720px) {
    max-width: 100%;
    font-size: 24px;
  }
}

h2 {/* Disc Museum: */
  font-size: 28px;
  color: $type;
  letter-spacing: -0.23px;
  margin: 0;
}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

.browserupgrade {
  position: fixed;
  border-radius: $border-radius;
  background: $lightgray;
  // color: white;
  padding: $scale $scale * 2;
  top: $scale * 2;
  left: $scale * 2;
  margin: $scale;
  z-index: 100;
}
a,
button,
input {
  transition: all 0.3s ease;
  font-weight: 900;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  &.list-inline {
    margin-bottom: $scale * 2;
    > li {
      display: inline-block;
      &:not(:last-child) {
        margin-right: $scale * 3;
      }
      @media (max-width: 720px) {
        display: block;
        padding: 9px 0;
        > a {
          width: 100%;
          // padding: 9px;
          
        }
      }
    }
  }
}

a,
.btn-inline {
  color: $primary;
  text-decoration: none;
  font-weight: normal;
  background: none;
  &:hover {
    color: darken($primary, 20%);
  }
}

button {
  border-radius: $border-radius;
  background: $default;
  border: 0;
  padding: $scale $scale * 2;
  outline: none;
  &:hover {
    background: darken($default, 10%);
    cursor: pointer;
  }
}

input {
  padding: $scale $scale*2;
  border-radius: $border-radius;
  border: 1px solid $default;
  &:focus {
    border-color: $primary;
    box-shadow: 0 0 $scale rgba($primary, 0.25);
    outline: none;
  }
}


header,
section,
footer {
  padding: 10vh;
  @media (max-width: 1024px) {
    padding: 48px;
  }
  @media (max-width: 414px) {
    padding: 27px;
  }
}

header {
  padding: 20vh 10vh 10vh 10vh;
  @media (max-width: 1024px) {
    padding: 64px 48px;
  }
  @media (max-width: 414px) {
    padding: 64px 27px;
  }
}

.flex {
  display: flex;
  @media (max-width: 720px) {
    flex-direction: column;
    flex-flow: column-reverse;
  }
  &.web {
    flex-direction: column;
    @media (max-width: 720px) {
      flex-direction: column;
      flex-flow: column-reverse;
    }
  }
}
.project {
  overflow: hidden;
  background: none;
  &:nth-of-type(even) {
    background: $lightgray;
  }
  @media (max-width: 1024px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  @media (max-width: 414px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  
}

.description {
  width: 45vw;
  @extend .flex;
  flex-direction: column;
  padding-top: 3em;
  @media (max-width: 720px) {
    width: 100%;
  }
}
.mockup {
  position: relative;
  width: 55vw;
  text-align: right;
  right: -100px;
  > a {
    display: inline-block;
    padding: 0;
    background: none;
    &:hover {
      background: none;
    }
    img {
      max-height: 60vw;
      @media (max-width: 720px) {
        width: 100vw;
        max-height: 100vw;
        height: auto;
      }
    }
  }
  @media (max-width: 720px) {
    right: 0px;
    width: 100%;
  }
}
.project-description {
  @media (max-width: 720px) {
  }
}

.what {
  .description {
    text-align: left;
    padding-top: 0;
    // xmargin: 0 auto;
    img {
      // text-align: center;
      width: 48px;
      
      margin: 0;
      margin-bottom: $scale*2;
    }
    .project-description {
      //max-width: 100%;
    }
    &:nth-child(even) {
      text-align: right;
    }
  }
}

.process {
  background: $type;
  color: $lightgray;
  h2 {
    color: $lightgray;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: $scale * 2 * -1;
  margin-right: $scale * 2 * -1;
  &.three-cards {
    > .card {
      width: calc((100%/3) - (9px * 12));
      @media (max-width: 1024px) {
        width: 100%;
      }
    }
  }
  &.two-cards {
    > .card {
      width: calc((100%/2) - (9px * 12));
      @media (max-width: 1024px) {
        width: 100%;
      }
    }
  }
  .card {
    position: relative;
    margin: $scale * 2;
    $padding: $scale * 4;
    padding: $padding;
    background: lighten($type, 6%);
    border-radius: $border-radius;
    transition: all 0.3s ease;
    &:hover {
      background: $primary;
      transform: scale(1.01);
    }
    h3 {
      margin: 0;
      margin-bottom: $scale * 2;
    }
  }
}

footer {
  background: $lightgray;
  h1.lead {
    @media (max-width: 720px) {
      font-size: 22px;
    }
  }
}

.brands {
  // background: $lightgray;
  span {
    color:lighten($primary, 20%);
    margin-left: $scale;
    font-size: 12px;
  }
  img {
    width: 64px;
    vertical-align: middle;
    margin-right: 9px;
  }
}
.about-me {
  max-width: 50%;
  @media (max-width: 720px) {
    max-width: 100%;
  }
}

.js-toggle {
  width: auto;
  display: inline;
}


.about {
  background: white;
}